<<<<<<< HEAD
div, p {
    text-align: center;
    padding: 0.5rem;
}

.Qualifications {
    display: flex;
    flex-wrap: wrap;
}

.MainHeader {
    font-weight: 600;
    width: 100%;
    font-size: 32px;
    font-style: normal;
}

.Portfolio_Card {
    width: 40%;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
}
=======
div,
p {
  text-align: center;
}

.HeaderDiv {
  margin: 12px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.navBarIcons {
  display: inline-flex;
  padding: 0.1rem;
  margin: 0.5rem;
}

nav {
  background: linear-gradient(180deg, #121212, #242424);
  padding-top: 0.66em;
  padding-bottom: 0.66em;
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1.66em;
  padding-top: 1.66em;
  background: linear-gradient(0deg, #121212, #242424);
}

.HeroSection {
  padding: 1.5em
}

.QualContainer {
  display: inline-flex;
  gap: 2em;
}

.QualCard {
  max-width: 40vw;
  min-width: 20vw;
  background-color: #121212;
  flex-wrap: wrap;
  padding: 1rem;
}

@media (prefers-color-scheme: light) {
  nav {
    background: linear-gradient(180deg, #242424, #ffffff);
  }
  footer {
    background: none;
  }
  .QualCard, .HeroSection {
    background-color: #e8f0fe
  }
}
>>>>>>> b4937e36c1acae5b87fc3070e25e02d2d801653b
