.HeaderDiv {
  text-align: center;
  margin: 12px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

.navBarIcons {
  display: inline-flex;
  padding: 0.1rem;
  margin: 0.5rem;
}

nav {
  background: linear-gradient(180deg, #121212, #242424);
  padding-top: 0.66em;
  padding-bottom: 0.66em;
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1.66em;
  padding-top: 1.66em;
  background: linear-gradient(0deg, #121212, #242424);
}

.HeroSection {
  padding: 1.5em;
  text-align: center;
}

.PortContainer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  row-gap: 1.5em;
}

.PortCard {
  max-width: 45vw;
  min-width: 25vw;
  background: #121212;
  /* background: radial-gradient(circle at bottom left, #ff3a3a, transparent 60%), */
  /* radial-gradient(circle at top right, #3affff, transparent 60%); */
  opacity: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
}

.CardContent {
  grid-area: 2 / 1 / span 4 / span 5;
}

.CardTitle {
  grid-area: 1 / 1 / 1 / span 2;
}

.Portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 95vw; */
}

.PortfolioLink {
  grid-area: 6 / 5;
  text-align: center;
  max-width: 140px;
  max-height: 45px;
  padding: 10px 15px 10px 15px;
  background-color: black;
  color: white;
  border-radius: 1.42rem;
}

.PortfolioLink:hover {
  background-color: white;
}

.Experience {
  /* justify-content: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  
  gap: 2rem;
}

.ExperienceBox {
  width: 30vw;
}

p,
h2 {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  nav {
    background: linear-gradient(180deg, #242424, #ffffff);
  }
  footer {
    background: none;
  }
  .QualCard,
  .HeroSection {
    /* background-color: #e8f0fe; */
  }
}
