/* Root & Main Changes */
p,h2 {
  margin: 0;
}

/* Header */

nav {
  background: linear-gradient(180deg, #121212, #242424);
  padding-top: 0.66em;
  padding-bottom: 0.66em;
  display: flex;
  justify-content: center;
  gap: 1rem;
  size: 48px;
}

/* Main Body */

.HeroSection {
  padding: 1.5em;
  text-align: center;
}

.TitleContainer {
  text-align: center;
  margin: 12px;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}

/* CTA / Portfolio */

.CTA {
  display: inline-flex;
  width: calc(100vw - (1.5em*2));
  padding: 1.5em;
  justify-content: center;
  gap: 2rem;
}

.Experience {
  /* justify-content: center; */
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 2rem;
}

.ExperienceBox {
  width: 35vw
}

.Employment {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
  gap: 2rem;
}

/* Portfolio*/

/* .Portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3%;
  margin-left: 2em;
  margin-right: 2em;
} */

.PortContainer {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  row-gap: 1.5em;
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.PortCard {
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(circle at bottom left, #ff383885, transparent 100%),
  radial-gradient(circle at top right, #3affff7e, transparent 100%);
  backdrop-filter: blur(500px);

  overflow: hidden;
  width: 400px;
  height: 240px;
  padding: 1rem;
}

.PortCard:hover .CardContent {
  /* background: rgba(18, 18, 18, 0.2); */
  visibility: visible;
}
.PortCard:hover #figmaLogo {
  display: none;
}

.CardTitle {
  text-align: left;
}

.CardContent {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 400px;
  height: 220px;
  row-gap: 1em;
  
  /* right: -100%; */
}

#figmaLogo {
  height: 90px;
}

.PortfolioLink {
  justify-content: right;
  text-align: center;
  max-width: 140px;
  max-height: 45px;
  padding: 10px 15px 10px 15px;
  background-color: black;
  color: white;
  border-radius: 1.42rem;
}

.PortfolioLink:hover {
  background-color: white;
}

#ContainerContent {
  line-height: 1.2em
}

/* Footer / Bottom of Page */

footer {
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 1.66em;
  padding-top: 1.66em;
  background: linear-gradient(0deg, #121212, #242424);
}

/* Media Specific Content (Light/Dark Theme) */

@media (prefers-color-scheme: dark) {
  path {
    stroke: white;
  }
}

@media (prefers-color-scheme: light) {
  path {
    fill: black;
  }
  nav {
    background: linear-gradient(180deg, #242424, #ffffff);
  }
  footer {
    /* background: none; */
    background: linear-gradient(180deg, #ffffff, #242424);
  }
  .QualCard,
  .HeroSection, .PortCard {
    background-color: #e8f0fe;
  }
}
